.page-wrapper {
    background: #f2f7f8;
    width:100%;
    z-index:99;
    /*padding:0;*/
    /*position: relative;*/
}

.page-title{
    padding:20px;
}

.page-content{
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.chart-placeholder{
    width:530px;
    height:410px;
}
