.page-wrapper {
    background: #f2f7f8;
    width:100%;
    z-index:99;
    /*padding:0;*/
    /*position: relative;*/
}

.content-header{
    margin-top:50px;
}

.page-content{
    padding: 20px;
}

.page-title{
    padding-left:30px;
}

.row {
    margin-bottom: 20px;
}

.chart-placeholder{
    width:530px;
    height:410px;
}

h5>a{
    color:black;
}

td>input{
    width:120px;
    height:30px;
}
