@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap);

html{scroll-behavior:smooth}

body{
  font-family:"DM Sans",sans-serif;font-weight:normal;
  font-style:normal;
  color:#0b0a0a;
  overflow-x:hidden;
  font-size:15px}

  p{
    margin:0;
    padding:0;
    font-size:16px;
    line-height:28px}

  *{
    margin:0;
    padding:0}

  .pagination{
    text-align:center;
    margin:60px 0 0 0;
    display:block}

  @media only screen and (min-width:768px) and (max-width:991px){
    .pagination{margin-top:50px}}

  @media (max-width:767px){
    .pagination{margin-top:40px}}

  .pagination.center{text-align:center}
  .pagination.right{text-align:right}
  .pagination.left{text-align:left}
  .pagination .pagination-list{display:inline-block;overflow:hidden}
  .pagination .pagination-list li{margin-right:5px;
    display:inline-block;
    margin-top:10px}
  .pagination .pagination-list li:last-child{margin-right:0}
  .pagination .pagination-list li a{background:#fff;
    color:#081828;
    font-weight:500;
    font-size:15px;
    border-radius:5px;
    padding:8px 20px;
    text-align:center;
    border:1px solid #eee}

  .pagination .pagination-list li.active a,.pagination .pagination-list li:hover a{
    background:#3e80ff;
    color:#fff;
    border-color:transparent}
  .pagination .pagination-list li a i{font-size:13px}
  .blog-grids.pagination{margin-top:50px;text-align:center}
  .button .btn{display:inline-block;
    text-transform:capitalize;
    font-size:15px;
    font-weight:500;
    padding:14px 30px;
    background-color:#3e80ff;
    color:#fff;
    border:none;
    -webkit-transition:all .4s ease;
    transition:all .4s ease;
    border-radius:30px;
    position:relative;
    z-index:1;
    margin-right:7px;
    overflow:hidden}

  @media only screen and (min-width:768px) and (max-width:991px){.button .btn{padding:14px 25px;font-size:14px;font-weight:500}}
  @media (max-width:767px){.button .btn{padding:14px 25px;font-size:14px;font-weight:500}}
  .button .btn i{
    display:inline-block;
    margin-right:5px}
  .button .btn:last-child{margin:0}
  .button .btn:hover{color:#fff;background-color:#24126a}
  .button{margin-left:0!important}.button
  .btn-alt{
    background-color:#24126a!important;
    color:#fff!important}

  @media only screen and (min-width:768px) and (max-width:991px){.button .btn-alt{padding:14px 25px;
    font-size:14px;
    font-weight:500}}

  @media (max-width:767px){.button .btn-alt{padding:14px 25px;
    font-size:14px;
    font-weight:500}}

  .button .btn-alt:hover{
    background-color:#3e80ff!important;
    color:#fff!important}
  .align-left{text-align:left}
  .align-right{text-align:right}
  .align-center{text-align:center}
  .feature{
    position:relative;
    z-index:0;
    padding-top:80px}

  @media only screen and (min-width:768px) and (max-width:991px){.feature{padding-top:50px}}
  @media (max-width:767px){.feature{padding-top:40px}}
  .feature .section-title{margin-bottom:50px}
  @media only screen and (min-width:768px) and (max-width:991px){.feature .section-title{margin-bottom:30px}}
  @media (max-width:767px){.feature .section-title{margin-bottom:30px}}
  @media only screen and (min-width:1200px) and (max-width:1399px),only screen and (min-width:1400px){.feature .upper-content{padding-right:100px}}
  .feature .upper-content .lasthead{
    font-size:16px;
    font-weight:600;
    color:#3e80ff;
    margin-bottom:15px}
  .feature .upper-content .title{font-size:28px;
    font-weight:600;
    font-size:40px;
    font-weight:700;
    padding:21px 0 16px}
    .feature .upper-content p{margin-top:20px}
    .feature .upper-content .button{margin-top:40px}
    .feature .feature-box{
      min-height:300px;
      margin-top:30px;
      border-radius:20px;
      background-color:#fff;
      -webkit-box-shadow:0 0 30px rgba(81,94,125,.082);
      box-shadow:0 0 30px rgba(81,94,125,.082);
      padding:40px 50px;
      text-align:center;
      -webkit-transition:all .4s ease;
      transition:all .4s ease;
      border-top:3px solid #f4f7fa;
      border-bottom:3px solid #f4f7fa}
    .feature .feature-box:hover{
      -webkit-transform:scale(1.05);
      transform:scale(1.05);
      border-top-color:#3e80ff;
      border-bottom-color:#3e80ff}
    .feature .feature-box .tumb img{height:150px}
    .feature .feature-box .text-title{
      color:#3b368c;
      font-size:18px;
      line-height:28px;
      font-weight:700;
      margin-top:30px;
      margin-bottom:15px}
    .feature .feature-box p{line-height:26px;font-size:15px}@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}@keyframes pulse-border {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}@-webkit-keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}@keyframes pulse-border-2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}


.section-title h2{
    font-size:45px;
    margin-bottom:20px;
    line-height:42px;
    text-transform:
    capitalize;
    position:relative;
    font-weight:700
}

.section-title p {
        font-size: 16px;
        line-height: 28px;
    }

.bottom-container{padding-top: 50px;}

* {
    padding:0;
    margin:0;
}

/* h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.section-title {
    text-align: center;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
    z-index: 5;

}


/* p {
    margin-top: ;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

} */

/* .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
} */
/* .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
} */

/* body {
    margin: 0;
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    fonts-style: normal;
    fonts-weight: var(--bs-body-fonts-weight);
    overflow-x: hidden;
    color: var(--bs-body-color);
    fonts-family: "DM Sans",sans-serif;
    fonts-weight: normal;
    fonts-style: normal;
    color: #727272;
    overflow-x: hidden;
    fonts-size: 15px;
} */

.pagination {
    text-align: center;
    margin: 50px 0 0 0;
    display: block;
    list-style: none;
    padding-bottom: 50px;
}
